.fields {
    margin: auto;
    width: 1000px;
    padding: 10em;
    border-radius: 25px;
    max-width: 50rem;
    background: linear-gradient(
      250deg,
      var(--secondary-light-color),
      var(--secondary-dark-color) 80%,
    );
  }

  .sendBtn{
    color : var(--main-light-color);
    background-color: var(--secondary-dark-color);
    width: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
    display: block;
  }

  .sendBtn:not([disabled]):hover {
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
  }
  
  .sendBtn[disabled] {
    color : var(--main-dark-color);
    background-color: var(--main-light-color);
  }
  
  
  .center {
    display: block;
    margin: auto;
    width: 80%;
  }
  
  .flex {
    display: flex;
  }
  
  label{
    margin-top: 8px;
    margin-bottom: 10px;
    color: var(--main-light-color);
    display: block;
    height: 30px;
    font-size: 20px;
  }
  

  .filed{
    width: 100%;
  }
  
  
