<p-toast position="top-right"></p-toast>
<div class="fields">
  <p-toast position="top-right" key="email"></p-toast>

  <div class="center">
    <div class="p-field p-grid">
      <label for="email" class="p-col-fixed" style="margin-bottom: 50px; font-size: 25px;">We will send you an email to reset your password</label>
    
      <div class="p-col">
        <input class="filed" [(ngModel)]="email" id="email" type="text" pInputText>
      </div>
    </div>

    <div class="flex">
        <button pButton type="button" class="p-button-raised p-button sendBtn"
         (click)="sendPasswordResetRequest()">Send Mail</button>
      </div>

  </div> 
</div>