.filed{
  width: 100%;
}

.flex {
  display: flex;
}

::ng-deep.p-password {
  width: 100%;

  input {
    width: 100%;
  }
}

label{
  margin-top: 8px;
  color: var(--main-light-color);
  display: block;
  height: 30px;
  font-size: 20px;
}

.fields {
  margin: auto;
  width: 1000px;
  padding: 10em;
  border-radius: 25px;
  max-width: 50rem;
  background: linear-gradient(250deg, var(--main-dark-color), var(--secondary-dark-color) 80%);
}

.center {
  display: block;
  margin: auto;
  width: 80%;
}

.savePassword{
  color : var(--main-light-color);
  background-color: var(--secondary-dark-color);
  margin-bottom: 5%;
}

.savePassword:not([disabled]):hover{
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
}

.regsavePasswordister[disabled]{
  color : var(--main-dark-color);
  background-color: var(--main-light-color);
}