<div class="fields">
  <p-toast position="top-right" key="password"></p-toast>

  <div class="center">
    <h1 class="center" style=" margin-bottom: 30%; color: var(--main-light-color);">Reset your password</h1>

    <div class="p-field p-grid" style="padding-bottom: 20px;">
      <label for="password" class="p-col-fixed" >Password</label>
      <div class="p-col">
        <p-password [(ngModel)]="password" [toggleMask]="true"></p-password>
      </div>
    </div>

    <div class="p-field p-grid" style="padding-bottom: 20px;">
      <label class="p-col-fixed" >Confirm password</label>
        <div class="p-col">
          <p-password [(ngModel)]="passwordConfirm" [toggleMask]="true" [feedback]="false"></p-password>
        </div>
    </div>

    <div class="flex">
      <button (click)="send()" pButton type="button"
              class="p-button-raised p-button center savePassword">Save new Password!
      </button>
    </div>
  </div>
</div>
    
