<div class="loginFields">
  <p-toast position="top-right"></p-toast>

  <div class="center">
    <div class="p-field p-grid">
      <label for="email" class="p-col-fixed" >Email</label>
      <div class="p-col">
        <input class="filed" [(ngModel)]="email" id="email" type="text" pInputText>
      </div>
    </div>
    <br>
    <div class="p-field p-grid" style="padding-bottom: 20px;">
      <label for="password" class="p-col-fixed" >Password</label>
      <div class="p-col">
        <p-password [(ngModel)]="password" [toggleMask]="true" [feedback]="false">
        </p-password>
      </div>
  
    </div>


    <div class="flex">

      <button (click)="register()" pButton type="button"
      class="p-button-raised p-button center register">Register</button>

      <button (click)="attemptLogin()" pButton type="button"
            class="p-button-raised p-button center loginlbtn">Log in</button>
    </div>

    <div class="flex">
      <button class="btn-block google-sign-in googlebtn" (click)="googleLogin()" mat-raised-button>
        <img [src]="'assets/images/google.svg'" alt="google"/>
        <span> Continue with Google</span>
      </button>
    </div>

    <button class="forgottenPasswordButton center" (click)="forgotPassword()" >Forgot your password?</button>

  </div>

</div>
