.lost {
    font-weight: 700;
    background-color: #E2B6B3;
    //#FF5252
    // text-decoration: line-through;
}

.started {
    font-weight: 700;
    background-color: #DCDCDC;
}

.won {
    font-weight: 700;
    background-color: #AFE1AF;
    //#66BB6A
}


.tableNames{
    font-weight: 700 !important;
    text-align: center !important;
    background-color: var(--board-dark) !important;
    color: var(--board-light) !important;
    font-size: 20px;
    // justify-content: center;
    // flex-flow: row;
}

.opinent{
    max-width: 400px;
}

::ng-deep .p-datatable{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

::ng-deep tr{
    height: 80px;
    cursor: pointer;
}

.historyImg{
    height: 40px;
    width: 40px;
    resize: none;
    margin: auto;
}