<p-table [value]="matches" responsiveLayout="scroll">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th class="tableNames">Side</th>
            <th class="tableNames">Oponent</th>
            <th class="tableNames">Date</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-match>
        <tr (click)="loadGame(match)" class="center tr">
            <!-- <td [ngClass]="isGameOver(match) ? (isWon(match) ? 'won' : 'lost') : 'started' " class="center">
                {{findSide(match)}}</td> -->
            <td [ngClass]="isGameOver(match) ? (isWon(match) ? 'won' : 'lost') : 'started' "><img class="historyImg"
                    [src]="findSide(match)"></td>
            <td [ngClass]="isGameOver(match) ? (isWon(match) ? 'won' : 'lost') : 'started' " class="center">
                {{getOponent(match)}}</td>
            <td [ngClass]="isGameOver(match) ? (isWon(match) ? 'won' : 'lost') : 'started' " class="center">
                {{renderDate(match.dateCreated)}}</td>
        </tr>
    </ng-template>
</p-table>