.flex {
  display: flex;
}

::ng-deep.p-password {
  width: 100%;

  input {
    width: 100%;
  }
}

.center {
  display: block;
  margin: auto;
  width: 80%;
}

label {
  margin-top: 8px;
  color: var(--main-light-color);
  display: block;
  height: 30px;
  font-size: 20px;
}

.filed {
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px rgba(90, 90, 90, 0.253) inset !important;
}

.loginFields {
  margin: auto;
  width: 1000px;
  padding: 10em;
  border-radius: 25px;
  max-width: 50rem;
  background: linear-gradient(250deg, var(--main-dark-color), var(--secondary-dark-color) 80%);
}

// @media only screen and (max-width: 830) {
//   .loginFields{
//     padding: 0;
//     border-radius: 0px;
//     width: 200px;
//   }
// }

.forgottenPasswordButton {
  border: transparent;
  background-color: transparent;
  color: var(--main-light-color);
  font-size: 17px;
}

.forgottenPasswordButton:hover{
  color: var(--board-dark);
}

.full-width {
  width: 100%;
}

form {
  font-size: medium;
}

.googlebtn {
  width: 50%;
  margin: auto;
  background-color: var(--secondary-dark-color);
  color: var(--main-light-color);
  margin-bottom: 5%;
}

.googlebtn:not([disabled]):hover {
  background-color: var(--main-light-color);
  color: var(--secondary-dark-color);
}

.googlebtn[disabled] {
  color: var(--main-light-color);
  background-color: var(--main-dark-color);
}

.register {
  width: 30%;
  background-color: var(--board-light);
  margin-bottom: 5%;
  margin-right: 20%;
  color: var(--main-dark-color);
}

.register:not([disabled]):hover {
  background-color: var(--board-dark);
  color: var(--board-light);
}

.loginlbtn {
  color: var(--board-light);
  background-color: var(--board-dark);
  width: 30%;
  margin-bottom: 5%;
  margin-left: 20%;
}

.loginlbtn:not([disabled]):hover {
  background-color: var(--board-light);
  color: var(--main-dark-color);
}
